{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% for ad in ads %}
        {% if ad.is_finished == False %}
        <article class="media content-section">
            <div class="media-body">
                <h1><a href="{{ url_for('ad_detail', ad_id=ad.id)}}">{{ad.title}}</a></h1>
                <p>Created by: <a href="{{ url_for('user_detail', user_id=ad.author.id)}}">{{ad.author.name}}</a></p>
                <p>Created: {{ad.date_of_create.strftime('%Y-%m-%d %H:%M:%S')}}</p>
                {% if ad.picked_for %}
                    <legend>The editor has already picked someone for this ad!</legend>
                {% endif %}
            </div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock %}