{% extends 'base.html' %}

{% block title %}Inbox Page{% endblock %}

{% block content %}
    {% for message in messages %}
        <p>Message from: <a href="{{ url_for('users.user_detail', user_id=message.by.id) }}">{{ message.by }}</a></p>
        <p>Received: {{ message.date_of_create.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <p>Message content: {{ message.content }}</p>
        <p><a href="{{ url_for('messages.send_message', user_id=message.by.id) }}">Reply</a></p>
    {% endfor %}
{% endblock %}